<article>
	<h1>Blog Template</h1>
	<h2>By Deep Sohelia, 31st July 2015</h2>
	<p>
		This website template is ideal for a blog, as it comes with its own post system.<br />
		This blog template was design with simplicity and beauty in mind. It features a responsive design with elegant transitions when viewing posts. Every aspect of this template is customisable, from the background image and &lt;hr&nbsp;/&gt; to the easing on the post transitions. It is designed this way so that you have full control over the look and feel of your blog, and to allow you to make it personal and unique to you.<br /> <br/>
		<a class="button" href="http://s000.tinyupload.com/index.php?file_id=81510521769428431134">Download</a>
		<a class="button" href="template2/">View</a><br /><br />
		All my templates are designed to be both lightweight and accessible, and this template is no exception, at only {{SIZE}}. None of the code is minified, meaning that the post system is easy to modify and debug, if necessary.<br />
		The post system is decribed in detail on my <a href="../blog">Blog</a><br />
		All of the artwork and photography for this template and throughout my site are from <a href="//unsplash.com">Unsplash</a>, who offer free to use high resolution images. I love their artwork and highly recommend it to any developer.   
	</p>
	<a class="readMore" href="">Read more</a>
</article>
