<article>
	<h1>Personal Website</h1>
	<h2>By Deep Sohelia, 30th July 2015</h2>
	<p>
		This is a website template that is best suited to advertise a person or product.<br />
		Professionalism and Responsivity are the key aspects of this desgn - The website is designed to look good on small screeens as well as big, and works beautifully at all screen sizes. It is very lightweight, only {{{INSERT SIZE HERE}}} in size. It is completely free to download and use as you please, however I would appreciate it if the footer remained as it is.<br /> <br/>
		<a class="button" href="#">Download</a>
		<a class="button" href="#">View</a>
		All of the artwork and photography for this template and throughout my site are from <a href="//unsplash.com">Unsplash</a>, who offer free to use high resolution images. I love their artwork and highly recommend it to any developer.   
	</p>
	<a class="readMore" href="">Read more</a>
</article>
