<article>
	<h1>Landing Page Template</h1>
	<h2>By Deep Sohelia, 31st July 2015</h2>
	<p>
		This website template is ideal for a landing page that does not need to have much information on it.<br />
		This template was designed to look beautiful utilising art from Unsplash and a grayscale color scheme to match. It features an elegant, bold and responsive design. It is ideal to introduce customers to a product, especially when offering a free trial or similar. This is a free template, and you are free to use and customise it as you wish, however, I would greatly appreciate it if the footer of the page remained unchanged.<br /> <br/>
		<a class="button" href="http://s000.tinyupload.com/index.php?file_id=65042288373080633961">Download</a>
		<a class="button" href="template3/">View</a><br /><br />
		All my templates are designed to be both lightweight and accessible, and this template is no exception, at only 2KB.<br />
		A live example of this template can be seen <a href="../giveaways">here, on my giveaway page</a><br />
		All of the artwork and photography for this template and throughout my site are from <a href="//unsplash.com">Unsplash</a>, who offer free to use high resolution images. I love their artwork and highly recommend it to any developer.   
	</p>
	<a class="readMore" href="">Read more</a>
</article>
