html,body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

body {
  font-family:Raleway;
  color:white;
  background: -webkit-linear-gradient(126deg, #232927 4%,   transparent 4%) -70px 43px,
              -webkit-linear-gradient( 54deg, #232927 4%,   transparent 4%) 30px 43px,
              -webkit-linear-gradient( 18deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
              -webkit-linear-gradient(162deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
              -webkit-linear-gradient(234deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
              -webkit-linear-gradient(-54deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,
              -webkit-linear-gradient(126deg, #232927 4%,   transparent 4%) -20px 93px,
              -webkit-linear-gradient( 54deg, #232927 4%,   transparent 4%) 80px 93px,
              -webkit-linear-gradient( 18deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
              -webkit-linear-gradient(162deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
              -webkit-linear-gradient(234deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
              -webkit-linear-gradient(-54deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
                
  background: -moz-linear-gradient(126deg, #232927 4%,   transparent 4%) -70px 43px,
              -moz-linear-gradient( 54deg, #232927 4%,   transparent 4%) 30px 43px,
              -moz-linear-gradient( 18deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
              -moz-linear-gradient(162deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
              -moz-linear-gradient(234deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
              -moz-linear-gradient(-54deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,
              -moz-linear-gradient(126deg, #232927 4%,   transparent 4%) -20px 93px,
              -moz-linear-gradient( 54deg, #232927 4%,   transparent 4%) 80px 93px,
              -moz-linear-gradient( 18deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
              -moz-linear-gradient(162deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
              -moz-linear-gradient(234deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
              -moz-linear-gradient(-54deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
  background: linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
              linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
              linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
              linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
              linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
              linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,
              linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
              linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
              linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
              linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
              linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
              linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
  background-color: #232927;
  background-size: 100px 100px;
}
.game {
  height:100vh;
  width:100vw;
  padding:3vh 10vw;
  box-sizing:border-box;
  text-align:center;
}
.game div {
  height:35vh;
  width:80vw;
  background:#555;
  border-radius: 20px;
  margin:3px 0;
  display:table-cell;
  vertical-align:middle;
}
.game div h1 {
  font-size:2em;
  line-height:30vh;
  height:30vh;
  width:75vw;
  margin:0;
  background:#555;
  border: 5px dashed #333;
  border-radius:15px;
  display:inline-block;
}

.game h2 {
  font-size:1.7em;
  line-height:10vh;
  height:30vh;
  width:80vw;
  margin:0;
  background:#555;
  border: 5px dashed #333;
  border-radius:15px;
}

.game a {
  display:inline-block;
}

nav a {
  height:10vh;
  width:80vw;
  margin-top:2vh;
  border-bottom:8px solid #333;
  border-radius:10px;
  background-color:#FFF;
  color:#333;
  line-height:10vh;
  font-size:1.5em;
}

nav a:active {
  margin-top:calc(2vh + 7px);
  border-bottom:1px solid #333;
}
span {
  white-space:no-wrap;
}
section {
  display:none;
  box-sizing:border-box;
}
.tile {
  display:inline-block;
  border:5px solid white;
  border-radius:25px;
  margin: 4vh auto;
}

.tile.easy {
  height:12vh;
  width:80vw;
}
.tile.med {
  height:18vh;
  width:37vw;
}
.tile.hard {
  height:12vh;
  width:23vw;
}
.tile.ext {
  height:9vh;
  width:17vw;
  margin:2vh auto;
}
