html {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  
  background-image: url("http://i.imgur.com/HN0uGnK.jpg"), url('https://download.unsplash.com/photo-1426523038054-a260f3ef5bc9');
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: center;
}

html.scrolled {
  background-image: url('https://download.unsplash.com/photo-1426523038054-a260f3ef5bc9');
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: center;
}

body {
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color:rgba(0,0,0,0.5);
  color:white;
  font-family:Raleway;
}

nav {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:999;
  height:60px;
  width:100%;
  background-color:rgba(0,0,0,0);
  border-bottom:0px solid rgba(10,10,10,0);
  transition: background-color 0.5s, border-bottom 0.5s;
  font-size:2em;
  padding-left:10px;
  line-height:60px;
}

nav a {
  position:relative;
  top:0;
  display:inline-block;
  height:61px;
  width:120px;
  margin:0;
  box-sizing:border-box;
  float:right;
  text-align:center;
  border-left:0.5px solid #FFFFFF;
  border-right:0.5px solid white;
  border-bottom:3px solid #FFFFFF;
  font-size:0.5em;
  color:white;
  text-decoration:none;
}

nav a:hover {
  border-color:#f30000;
  color:#f30000;
}

#nav {
  height:27vh;
}

body.scrolled nav {
  background-color:rgba(40,40,40,1);
  border-bottom:1px solid rgba(150,150,150,1);
  transition: background-color 0.5s, border-bottom 0.5s;
}

section {
  height:calc(100vh - 60px);
  width:100%;
  margin:0;
  box-sizing:border-box;
}

section:nth-child(3) {
  margin-top:60px;
  text-align:center;
  height: 63vh;
}


section:nth-child(3) h1 {
  font-size:5em;
  margin:5px;
}

section:nth-child(3) h2 {
  font-size:3em;
  margin:5px;
}

section:nth-child(3) h3 {
  font-size:2em;
  margin:5px;
}

section:nth-child(4) {
  background-color:#EEEEEE;
  height:140vh;
  color:#333;
  text-align:center;
}

section:nth-child(4) h1 {
  font-size:2em;
  margin-bottom:30px;
}

section:nth-child(4) figure {
  position:relative;
  display:inline-block;
  height:40%;
  width:20%;
  margin:auto 10px auto;
  border:3px solid #333;
  border-radius:15px;
  background-color:rgb(50,40,50);
  color:white;
}

section:nth-child(4) figure figcaption {
  position:absolute;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  height:50%;
  width:80%;
}
section:nth-child(4) article {
  background-color:rgb(40,40,40);
  height:40vh;
  color:#EEEEEE;
  text-align:left;
  padding:20px;
  position:relative;
}

section:nth-child(4) article h1 {
  font-size:2em;
  margin:0 0 5px;
  width:400px;
}

section:nth-child(4) article p {
  width:400px;
  margin:0;
  display:inline-block;
}

section:nth-child(4) article img {
  height:100%;
  width:234px; /*CHANGE TO AUTO LATER*/
  border-radius:50%;
  display:inline-block;
  vertical-align:top;
  position:absolute;
  top:0;
  right:0;
  border-bottom:3px solid #131313;
  border-right:3px solid #131313;
}

section:nth-child(4) article #container {
  height:80%;
  width:650px;  
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

section:nth-child(5) {
  position:relative;
  height:83vh;
}

section:nth-child(5) input {
  height:35px;
  width:90%;
  background-color:#FFF;
  color:#333;
  border:1px solid #333;
  border-radius:5px;
  margin-bottom:5px;
  padding-left:10px;
  padding-top:3px;
  font-size:105%;
  box-sizing:border-box;
}

section:nth-child(5) input[type="submit"]:hover {
  background-color:#333;
  color:#eee;
  border:1px solid #eee;
}

section:nth-child(5) input[type="submit"]:active {
  background-color:#333;
  color:#f30000;
  border:3px solid #f30000;
}



section:nth-child(5) textarea {
  height:150px;
  width:90%;
  background-color:#FFF;
  color:#333;
  border:1px solid #333;
  border-radius:5px;
  margin-bottom:5px;
  font-size:105%;
  box-sizing:border-box;
}



#formContainer {
  position:absolute;
  right:0;
  height:100%;
  width:40%;
}

footer {
  height:8vh;
  background-color:#eee;
  text-align:center;
  color:#333;
  padding-top:15px;
  box-sizing:border-box;
  border-top:3px solid #ccc;
}
