html {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  
  background-image: url("http://i.imgur.com/HN0uGnK.jpg");
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

body {
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color:rgba(0,0,0,0.5);
  color:white;
  font-family:Raleway;
}

nav {
  position:fixed;
  top:0;
  left:0;
  right:0;
  
  height:60px;
  width:100%;
  background-color:rgba(0,0,0,0);
  border-bottom:3px solid rgba(10,10,10,0);
  transition: background-color 0.5s, border-bottom 0.5s;
}

body.scrolled nav {
  background-color:rgba(40,40,40,1);
  border-bottom:5px solid rgba(20,20,20,1);
  transition: background-color 0.5s, border-bottom 0.5s;
}

.nav {
  position:absolute;
  top:0;
  right:0;
  left:0;
  height:60px;
  width:100%;
  background-color:rgba(0,0,0,0.5);
}

section {
  height:calc(100vh - 60px);
  width:100%;
  margin:60px 0 0;
  border:5px solid white;
  box-sizing:border-box;
}
