html {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  
  background-image: url("http://i.imgur.com/HN0uGnK.jpg"), url('https://download.unsplash.com/photo-1426523038054-a260f3ef5bc9');
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: center;
}

body {
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color:rgba(0,0,0,0.5);
  color:white;
  font-family:Raleway;
}

nav {
  position:fixed;
  top:0;
  left:0;
  right:0;
  
  height:60px;
  width:100%;
  background-color:rgba(0,0,0,0);
  border-bottom:0px solid rgba(10,10,10,0);
  transition: background-color 0.5s, border-bottom 0.5s;
  font-size:2em;
  padding-left:10px;
  line-height:60px;
}

nav a {
  position:relative;
  top:0;
  display:inline-block;
  height:61px;
  width:120px;
  margin:0;
  box-sizing:border-box;
  float:right;
  text-align:center;
  border-left:1px solid #FFFFFF;
  border-bottom:3px solid #FFFFFF;
  font-size:0.5em;
  color:white;
  text-decoration:none;
}

nav a:first-child {
  border-right:1px solid white;
}

nav a:hover {
  border-bottom-color:#0a0;
}

#nav {
  height:27vh;
}

body.scrolled nav {
  background-color:rgba(50,40,50,1);
  border-bottom:1px solid rgba(150,150,150,1);
  transition: background-color 0.5s, border-bottom 0.5s;
}

section {
  height:calc(100vh - 60px);
  width:100%;
  margin:0;
  box-sizing:border-box;
}

section:nth-child(3) {
  margin-top:60px;
  text-align:center;
  height: 63vh;
}


section:nth-child(3) h1 {
  font-size:5em;
  margin:5px;
}

section:nth-child(3) h2 {
  font-size:3em;
  margin:5px;
}

section:nth-child(3) h3 {
  font-size:2em;
  margin:5px;
}

section:nth-child(4) {
  background-color:#EEEEEE;
  height:calc(140vh - 60px);
  color:#333;
}

section:nth-child(4) h1 {
  font-size:2em;
}

section:nth-child(4) figure {
  display:inline-block;
  height:50%;
  width:30%;
  margin:auto;
  border:3px solid #333;
  border-radius:5px;
  background-color:rgb(40,40,40);
}

section:nth-child(4) article {
  background-color:rgb(50,40,50);
  height:40vh;
  color:#EEEEEE;
  text-align:center;
  padding:20px;
  position:relative;
}

section:nth-child(4) article h1 {
  font-size:2em;
}

section:nth-child(4) article p {
}

section:nth-child(4) article img {
  height:80%;
  width:234px; /*CHANGE TO AUTO LATER*/
  border-radius:50%;
}

section:nth-child(4) article #container {
  height:80%;
  width:600px;
  margin-top:10%;
}
