
<!DOCTYPE html>
<html>
    <head>
        <title> YOUR SITE </title>
        <link rel="stylesheet" href="style.css" />
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <canvas id="bgCanvas"></canvas>
        <section>
            <h1>Heading</h1>
            <h2>Sub Heading</h2>
            <h3>Heading 3</h3>
        </section>
        <footer>
            Made with &lt;3 by <a href="//chillibyte.github.io">Deep Sohelia</a>. Photographs courtesy of <a href="http://unsplash.com">Unsplash</a> &copy; YOUR SITE HERE 2015
        </footer>
    </body>
    <script src="script.js"></script>
</html>
