html,body{
	height:auto;
	width:100vh;
	margin:0;
	padding:0;
}

* {
	box-sizing:border-box;
	color:white;
	font-family: 'Raleway', sans-serif;
	transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}

body {
	background-image:url('resources/jose-aljovin-486564-unsplash.jpg');
	background-size:cover;
	background-attachment:fixed;
	background-position:right 0;
	overflow-x:hidden;
}

header {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:10vh;
	width:100vw;
}

nav {
	height:100%;
	width:76vw;
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	animation: 1s ease-out 0s 1 slideInFromTop;
}

nav a {
	display:inline-block;
	margin:0 3vw;
	line-height:10vh;
	text-align:center;
	text-decoration: none;
	font-size: 2vmin;
}

nav a:hover {
	border-bottom:3px solid white;
}

#logo {
	height:12vmin;
	width:12vmin;
	border:0.5vmin solid white;
	font-size:5vmin;
	position:absolute;
	left:6vmin;
	top:6vmin;
	box-sizing:initial;
	animation: 3s ease-out 0s 1 fadeIn;
}

#logo span {
	display:inline-block;
	position:absolute;
	height:6vmin;
	width:6vmin;
	text-align:center;
	line-height:6vmin;
}

#logo span:nth-of-type(1) {
	top:0.4vmin;
	left:0.55vmin;
}
#logo span:nth-of-type(2) {
	top:0.4vmin;
	right:0.55vmin;
}
#logo span:nth-of-type(3) {
	bottom:0.4vmin;
	left:0.55vmin;
}
#logo span:nth-of-type(4) {
	bottom:0.4vmin;
	right:0.55vmin;
}

aside {
	position:absolute;
	bottom:0;
	left:0;
	height:70vh;
	width:5vw;
	z-index:999;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

#linkedin {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#icons {
	display:block;
	width:5vw;
	position:fixed;
	bottom:0;
	left:0;
}

#icons a {
	display:block;
	height:5vw;
	width:5vw;
	line-height:5vw;
	font-size:3vw;
	text-align:center;
	text-decoration:none;
}

#scroller {
  width:3px; 
  height:0; 
  background:white; 
  position:fixed; 
  left:5vw;
  top:0;
  visibility:hidden;
}

section {
	height:100vh;
	width:100vw;
	background-color:rgba(0,0,0,0.6);
	text-align:right;
	padding:5vmin;
	padding-left:5vw;
    margin:0;
}

#content {
    position:absolute;
	bottom:10vmin;
	right:3vw;
	animation: 1s ease-out 0s 1 slideInFromRight;
}

#content img {	
	height:30vmin;
	width:30vmin;
	border-radius:50%;
	box-shadow: -3px 3px 0px 0px rgba(255,255,255,1);
	transform: scaleX(-1);
}

#content p {
    width: 80vw;
}


section h1 {	
	font-size:3em;
}

section p {
	font-size:1.25em;
}

section:nth-of-type(2) {	
	text-align:left;
	background-color:#2F2a2a;
    max-height:60vh;
	height:auto;
	padding-left:10vw;
    display:grid;
    grid-template-columns: auto auto;
}

section:nth-of-type(2) h1,section:nth-of-type(2) p {
	opacity:0;
	width:70%;
    grid-column-start: 1;
    grid-column-end: 2;
    
}
section:nth-of-type(2) h1 {
    white-space: nowrap;
    margin:3vmin 0;
}

section:nth-of-type(2) p {
    font-size: 1.1em;
    line-height: 1.3em;
}

section.active:nth-of-type(2) h1,section.active:nth-of-type(2) p {	
	animation: 1s ease-out 0s 1 slideInFromLeft;
	opacity:1;
}

section:nth-of-type(2) img {
    max-height:50vh;
    height:auto;
    width:auto;
    max-width:100%;
	border-radius:50%;
	border-bottom: 2px solid #999999;
	border-right: 2px solid #999999;
	box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
	object-fit:cover;
	opacity:0;
    display:inline-grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin:auto;
}

section.active:nth-of-type(2) img {
	animation: 1s ease-out 0s 1 slideInFromRight;
	opacity:1;
}


section#services {	
	text-align:center;
	padding-left:10vw;
}

section#services h1,section#services p {	
	opacity:0;
}
section.active#services h1,section.active#services p {	
	animation: 1s ease-out 0s 1 slideInFromTop;
	opacity:1;
}

section#services figure {	
	height:30vw;
	width:18vw;
	border-radius:2vmin;
	border: 2px solid #FFFFFF;
	opacity:0;
	display:inline-grid;
	margin:2vw 1vw;
}

section.active#services figure {
	animation: 3s ease-out 0s 1 fadeIn;
	opacity:1;
}

section#services figure:nth-of-type(1) {
	background:url('resources/code.png');
	background-size:cover;
	
}
section#services figure:nth-of-type(2) {
	background:url('resources/template.png');
	background-size:cover;
}
section#services figure:nth-of-type(3) {
	background:url('resources/epq.jpg');
	background-size:cover;
	background-position:top 0px left -150px ;
}
section#services figure:nth-of-type(4) {
	background:url('resources/DSLMultitool8.png');
	background-size:cover;
	background-position: center;
}

section#services figcaption {	
	height:100%;
	width:100%;
	display:block;
	padding-top:15vw;
	text-align:center;
	margin:0;
	background-color: rgba(10,0,0,0.6);
    border-radius: 1vw;
	position:relative;
}

section.active#services figure p {
	font-size:1em;
	width:90%;
	margin:5% auto;
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	top:calc(50% + 2em);
	animation: 3s ease-out 0s 1 fadeIn;
	opacity:1;
}


section#work {	
	background-color:#2F2a2a;
	display:grid;
	text-align:center;
	padding:1vmin 0;
	grid-template-columns: auto 32vmax 2vmax 32vmax auto;
	grid-template-rows: auto auto 2vmax auto 2vmax;
}

section#work figure {	
	height:18vmax;
	width:32vmax;
	border-radius:1vmax;
	border: 2px solid #FFFFFF;
	opacity:0;
	display:block;
	margin:0;
	position:relative;
	
}

section#work h1 {
	grid-column-start: 1;
	grid-column-end:6;
	grid-row-start: 1;
}


section#work h1,section#work p {	
	opacity:0;
}
section.active#work h1,section.active#work p {	
	animation: 1s ease-out 0s 1 slideInFromTop;
	opacity:1;
}

section.active#work figure {
	animation: 3s ease-out 0s 1 fadeIn;
	opacity:1;
}

section#work figure:nth-of-type(1) {
	background:url('resources/template2.png');
	background-size:cover;
	grid-column-start: 2;
	grid-row-start: 2;
}
section#work figure:nth-of-type(2) {
	background:url('resources/backchat.png');
	background-size:cover;
	grid-column-start: 4;
	grid-row-start: 2;
}
section#work figure:nth-of-type(3) {
	background:url('resources/bethNecklace.jpg');
	background-size:cover;
	background-position:top 0px left 24px ;
	grid-column-start: 2;
	grid-row-start: 4;
}

section#work figure:nth-of-type(4) {
	background:url('resources/cage.png');
	background-size:cover;
	grid-column-start: 4;
	grid-row-start: 4;
}

section#work figcaption {	
	height:100%;
	width:100%;
	display:block;
	text-align:center;
	margin:auto;
	background-color: rgba(10,0,0,0.75);
    border-radius: 1vmax;
	position:relative;
	bottom:0;
	top:0;
	left:0;
	right:0;
	padding-top:7vmax;
}

section#work figure:nth-of-type(1) figcaption {
	background-color: rgba(10,0,0,0.5);
}
section#work figure:nth-of-type(2) figcaption {
	background-color: rgba(10,0,0,0.8);
}

section.active#work figure p {
	font-size:1em;
	width:90%;
	margin:0 auto;
	margin-top:2vmin;
	animation: 3s ease-out 0s 1 fadeIn;
	opacity:1;
}

section#contact a {
    display:block;
    text-decoration:none;
    font-size: 1.25em;
    text-align: center;
    line-height:2em;
    margin:0 auto;
    width:10vw;
    height:12vw;
}

#contactGrid{
    display:grid;
    grid-template-columns: 10vw 10vw 10vw;
	grid-template-rows: 25vh 25vh;
    align-content: space-around;
    grid-column-gap:8vw;
    grid-row-gap:2vh;
    margin:25px auto;
    width:80vw;
    justify-content:center;
}

#contact i {
    font-size:10vmax;
    display:block;
}


footer {
	height:50px;
	background:#FEEEEE;
	width:100vw;
	position:relative;
	color:#444444;
	padding:0 25px;
	font-weight:bold;
	line-height:50px;
    text-align:center;
}

figcaption h3 {
	margin:0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
	opacity:0;
  }
  100% {
    transform: translateX(0);
	opacity:1;
  }
}

@keyframes fadeIn {
  0% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}

@keyframes resize {
  0% {
  }
  100% {
	width:64vmax;
	height:32vmax;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
	opacity:0;
  }
  100% {
    transform: translateY(0);
	opacity:1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
	opacity:0;
  }
  100% {
    transform: translateX(0);
	opacity:1;
  }
}

@media screen and (max-aspect-ratio: 5/3) {
    section#services figure {	
        height:40vw;
        width:30vw;
        border-radius:2vmin;
        border: 2px solid #FFFFFF;
        opacity:0;
        display:inline-grid;
        margin:2vw 4vw;
    }
    section#services {
        height:auto;
    }

    section#work figure {	
        height:30vh;
        width:30vw;
}
}

@media screen and (max-aspect-ratio: 3/3) {
    h1 { 
        color:#00ffff;
    }
}

@media screen and (max-aspect-ratio: 9/16) {
    h1 { 
        color:#ffff00;
    }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2F2a2a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF; 
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; 
}

 

