<!DOCTYPE html>
<html>
  	<head>
		<title>YOUR SITE HEER</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	        <link rel="stylesheet" href="style.css" type="text/css" media="all" />
	        <!-- Mobile Specific Metas
	        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	        <meta name="viewport" content="width=device-width, initial-scale=1">

  	</head>
  	<body>
    	<section>
      		<h1>YOUR SITE HERE</h1>
      		<input type="checkbox" id="hamburger" class="css-checkbox" />
      		<label for="hamburger" class="css-label"></label>
      		<nav>
    			tweet me plz senpai
      		</nav>
      		<figure>
        		Lorem ipsum 
        		Dolor sit
      		</figure>
    	</section>
	    <main>
			<article>
		    <h1>Lorem Ipsum</h1>
		    <p>
	          	Dolor sit amet
		    </p>
		  	</article>
		  	<article>
		    <h1>Lorem Ipsum</h1>
		    <p>
	          	Dolor sit amet
		    </p>
		  	</article>
		  	<article>
		    <h1>Lorem Ipsum</h1>
		    <p>
	          	Dolor sit amet
		    </p>
		  	</article>
	      	<aside>
	      		stuff goes here
	      	</aside>
	    </main>
  </body>
</html>
