<!DOCTYPE html>
<html>
  	<head>
		<title>YOUR SITE HERE</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	        <link rel="stylesheet" href="style.css" type="text/css" media="all" />
	        <!-- Mobile Specific Metas
	        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	        <meta name="viewport" content="width=device-width, initial-scale=1">

  	</head>
  	<body>
    	<section>
      		<h1>YOUR SITE HERE</h1>
      		<input type="checkbox" id="hamburger" class="css-checkbox" />
      		<label for="hamburger" class="css-label"></label>
      		<nav>
    			tweet me plz senpai
      		</nav>
      		<figure>
        		<h1>example</h1>
        		Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit
      		</figure>
    	</section>
	    <main>
		<article>
		    <h1>Lorem Ipsum</h1>
		    <p>
	        	  	Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit
		    </p>
		    <a href="#">Read more</a>
		  </article>
		  <article>
		    <h1>Lorem Ipsum</h1>
		    <p>
		          Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit
	            </p>
	            <a href="#">Read more</a>
		  </article>
		  <article>
		    <h1>Lorem Ipsum</h1>
		    <p>
		     Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit Lorem ipsum Dolor sit amet contecteur adipscing elit
                    </p>
                    <a href="#">Read more</a>
		  </article>
	      	<aside>
	      		<h4>Links</h4>
	        	<a href="#">Link 1</a>
	        	<a href="#">Link 2</a>
	        	<a href="#">Link 3</a>
	        	<a href="#">Link 4</a>
	        	<a href="#">Link 5</a>
	        	<a href="#">Link 6</a>
	        	<h4>Made with &lt;3 by <a href="//chillibyte.github.io">Deep Sohelia</a></h4>
	      	</aside>
	    </main>
  </body>
</html>
