<!DOCTYPE html>
<html>
  	<head>
		<title>YOUR SITE HEER</title>
		<!--<link rel="stylesheet" href="style.css" />-->
  	</head>
  	<body>
    	<section>
      		<h1>YOUR SITE HERE</h1>
      		<input type="checkbox" id="hamburger" class="css-checkbox" />
      		<label for="hamburger" class="css-label"></label>
      		<nav>
    			tweet me plz senpai
      		</nav>
      		<details>
        		Lorem ipsum 
        		Dolor sit <h1>Amet</h1>
      		</details>
    	</section>
	    <main>
			<article>
		    <h1>Lorem Ipsum</h1>
		    <p>
	          	Dolor sit amet
		    </p>
		  	</article>
		  	<article>
		    <h1>Lorem Ipsum</h1>
		    <p>
	          	Dolor sit amet
		    </p>
		  	</article>
		  	<article>
		    <h1>Lorem Ipsum</h1>
		    <p>
	          	Dolor sit amet
		    </p>
		  	</article>
	      	<aside>
	      		stuff goes here
	      	</aside>
	    </main>
  </body>
</html>
