html,body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  font-family:Calibri;
  position:fixed;
}
input#heart {
  display:none;
}

#heart ~ label {
  display:block;
  position:fixed;
  left:calc(50vw - 12.5px);
  top:30%;
  margin:auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 12px 0 25px;
  border-color: transparent #f99 transparent transparent;
}

#heart ~ label:before {
  display:block;
  margin:0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 12.5px 12.5px;
  border-color: transparent transparent #f99 transparent;
}
