html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #f88;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    font-family: 'Gloria Hallelujah', cursive;
}
canvas {
    border: 1px solid black;
    margin: auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
