html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
body {
    background-color: #f88;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    font-family: 'Gloria Hallelujah', cursive;
}
canvas {
    border: 1px solid black;
    margin: auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#title,#beanSvg {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    font-size:x-large;
    color:white;
    background-color: #f88;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
#title {
    text-align:center;
    z-index:9;
}

#titlePosition {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    height:45%;
    width:100%;
}

a {
    height:75px;
    width:300px;
    background-color: #fd0;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
    border-bottom:5px solid #db0;
    border-radius:15px;
    margin:5px auto;
    line-height:75px;
    font-weight:900;
    font-size:xx-large;
    color:white;
    display:block;
    text-align:center;
}
a:active {
    margin-top:9px;
    border-bottom-width:1px;
}
a:nth-of-type(2) {
    height:25px;
    font-size:initial;
    background-color:#f20;
    border-color:#d00;
}
#beanSvg {
    z-index:5;
    text-align:left;
}
#beanSvg h1 {
    text-align:center;
}
#beanSvg h3 {
    width:40%;
    margin:0 10px;
}
#beanSvg svg {
    position:absolute;
    right:50px;
    top:40%;
}
#beanSvg input {
    margin-left:10px;
    height:50px;
    width:300px;
    background-color: #fd0;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
    border-radius:15px;
    font-size:xx-large;
    color:white;
    display:block;
    text-align:center;
    font-family: 'Gloria Hallelujah', cursive;
    line-height:initial;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
}
progress[value]::-webkit-progress-bar {
  background-color: #f30;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  background-image: linear-gradient(90deg, transparent 50%, rgba(50,50,50,.5) 50%);
  background-size: 50px 50px;
    
}
progress[value]::-webkit-progress-value {
    background-color: #0f3;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
    
    border-radius: 2px; 
}
@media screen and (min-width: 900px) {
    nav {
       position:fixed;
       left:0;
       top:0;
       bottom:0;
       height:100%;
       width:18vw;
    } 
    canvas {
        height:36vw;
        width:64vw;
    }
    progress {
        width: 92%;
        margin:0 4%;
    }
    h3 {
        color:white;
        margin:0 4%;
    }
}
@media screen and (max-width: 900px) {
    nav {
       position:fixed;
       left:0;
       bottom:0;
       right:0;
       height:10vh;
       width:100%;
    } 
    canvas {
        height:54vw;
        width:96vw;
        bottom:initial;
        top:2vw;
    }
    progress {
        width: 9vw;
        margin:0;
    }
    h3 {
        display:inline-block;
        color:white;
        width:15vw;
        margin:0;
    }
}
