html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

html {
  background-image:url('https://images.unsplash.com/photo-1446776709462-d6b525c57bd3');
  background-size:cover;
  font-family:Raleway;
  color:white;
}

body {
  background-color:rgba(0,0,0,0.3);
  position:fixed;
}

nav {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  height:100%;
  width:30%;
  border-left:3px solid white;
  background-color:rgba(0,0,0,0.2);
  padding:none;
}
nav ul {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
nav ul li {
  text-decoration:none;
  display:block;
  height:70px;
  width:100%;
  background-color:rgba(0,0,0,0.25);
  border-bottom:3px solid white;
  margin-bottom:8px;
}
main {
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  height:100%;
  width:70%;
}
