<!DOCTYPE html>
<html>
	<head>
		<title>YOUR SITE</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<aside>
			<div id="content">
				<h1>Your Blog</h1>
				<h2>Sub Heading</h2>
				<hr />
				<p>Paragraph</p>
				<footer>
					Made with &lt;3 by <a href="//chillibye.github.io">Deep Sohelia</a> <br/> &copy; YOUR SITE HERE
				</footer>
			</div>
		</aside>	
		<article>
			<h1>Article</h1>
			<h2>Name + Date</h2>
			<p>Lorem ipsum dolor site amet</p>
			<a href="">Read more</a>
		</article>
		<article>
			<h1>Article</h1>
			<h2>Name + Date</h2>
			<p>Lorem ipsum dolor site amet</p>
			<a href="">Read more</a>
		</article>
		<article>
			<h1>Article</h1>
			<h2>Name + Date</h2>
			<p>Lorem ipsum dolor site amet</p>
			<a href="">Read more</a>
		</article>
		<script src="script.js"></script>
	</body>
</html>
