<!DOCTYPE html>
<html>
	<head>
		<title>YOUR SITE</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<aside>
			<div id="content">
				<h1>Your Blog</h1>
				<h2>Sub Heading</h2>
				<hr />
				<p>Paragraph</p>
			</div>
			<footer>
				Made with &lt;3 by <a href="//chillibyte.github.io">Deep Sohelia</a> <br/> &copy; YOUR SITE HERE
			</footer>
		</aside>	
		<article>
			<h1>Article</h1>
			<h2>Name + Date</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate blandit erat et hendrerit. Aliquam erat volutpat. Quisque sed ultrices libero, sit amet imperdiet leo. Curabitur sit amet ex accumsan nisi porttitor viverra sed sit amet mauris. Pellentesque blandit urna molestie, imperdiet lectus ut, feugiat turpis. In hac habitasse platea dictumst. Vivamus facilisis sodales augue ac tincidunt. Morbi rhoncus elementum maximus. Aenean quis tortor fringilla, mollis velit nec, aliquet justo. Maecenas rutrum euismod aliquet. Curabitur risus velit, dapibus a consectetur hendrerit, laoreet id quam. In hac habitasse platea dictumst. Sed nec ex lorem. Suspendisse ut sapien eget lorem malesuada pretium. Duis ac sodales lorem. Vivamus pellentesque condimentum arcu, at fermentum dui tempor sit amet.</p>
			<a href="">Read more</a>
		</article>
		<article>
			<h1>Article</h1>
			<h2>Name + Date</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate blandit erat et hendrerit. Aliquam erat volutpat. Quisque sed ultrices libero, sit amet imperdiet leo. Curabitur sit amet ex accumsan nisi porttitor viverra sed sit amet mauris. Pellentesque blandit urna molestie, imperdiet lectus ut, feugiat turpis. In hac habitasse platea dictumst. Vivamus facilisis sodales augue ac tincidunt. Morbi rhoncus elementum maximus. Aenean quis tortor fringilla, mollis velit nec, aliquet justo. Maecenas rutrum euismod aliquet. Curabitur risus velit, dapibus a consectetur hendrerit, laoreet id quam. In hac habitasse platea dictumst. Sed nec ex lorem. Suspendisse ut sapien eget lorem malesuada pretium. Duis ac sodales lorem. Vivamus pellentesque condimentum arcu, at fermentum dui tempor sit amet.</p>
			<a href="">Read more</a>
		</article>
		<article>
			<h1>Article</h1>
			<h2>Name + Date</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate blandit erat et hendrerit. Aliquam erat volutpat. Quisque sed ultrices libero, sit amet imperdiet leo. Curabitur sit amet ex accumsan nisi porttitor viverra sed sit amet mauris. Pellentesque blandit urna molestie, imperdiet lectus ut, feugiat turpis. In hac habitasse platea dictumst. Vivamus facilisis sodales augue ac tincidunt. Morbi rhoncus elementum maximus. Aenean quis tortor fringilla, mollis velit nec, aliquet justo. Maecenas rutrum euismod aliquet. Curabitur risus velit, dapibus a consectetur hendrerit, laoreet id quam. In hac habitasse platea dictumst. Sed nec ex lorem. Suspendisse ut sapien eget lorem malesuada pretium. Duis ac sodales lorem. Vivamus pellentesque condimentum arcu, at fermentum dui tempor sit amet.</p>
			<a href="">Read more</a>
		</article>
		<script src="script.js"></script>
	</body>
</html>
