html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family:Calibri;
}

body {
	background-color:#EEEEEE;
	color:#222222;
}

header {
	position:fixed;
	left:120px;
	right:0;
	top:0;
	bottom:0;
	display:block;
	height:100%;
	width:auto;
	margin:0;	
	padding-top:25px;
	background-color:#222222;
	color:#AAAAAA;
}
header h1 {
	margin-top:0;
}
header hr {
	width:40%;
}
nav {
	display:block;
	height:100%;
	width:120px;
	overflow:visible;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
nav ul {
	display:block;
	height:60px;
	width:120px;
	overflow:hidden;
	margin:0;
	padding:0;
	box-sizing:border-box;
	border: 1px solid black;
}
nav ul li:first-child {
	background-color:#4A4;
	color:#ffffff;
	height:60px;
	width:120px;
	position:relative;
	top:0;
	right:0;
}
nav ul li {
	background-color:#444;
	color:#ffffff;
	height:60px;
	width:180px;
	list-style:none;
	position:relative;
	right:-120px;
	top:-60px;
}
nav ul li a {
	color:white;
}
nav ul:hover {
    OVerflow:visible;
}
