html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

body {
	font-family:Calibri;
}

canvas {
	height:100%;
	width:100%;
}

header {
	height:100px;
	width:100px;
	position:fixed;
	bottom:0;
	left:0;
	padding-left:50px;
}
.hoverdiv {
	height:25px;
	width:25px;
	background:transparent;
	position:absolute;
}
nav {
	position:fixed;
	display:none;
	height:100;
	width:150;
}
.hoverdiv:hover + nav {
	display:block;
	background-color:#333;
	border:5px solid black;
	border-radius:10px;
	color:white;
}
