<!DOCTYPE html>
<html>
  <head>
    <title>LANDING PAGE</title>
    <link rel="stylesheet" href="style.css" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <nav>
        YOUR SITE HERE
        <a href="#one">Link 3</a>
        <a href="#two">Link 2</a>
        <a href="#thr">Link 1</a>
      </nav>
      <section>
          <h1>Heading</h1>
          <h2>Subheading</h2>
          <a href="">Button!</a>
      </section>
  </body>
</html>
