* {
	border:0;
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Varela Round', sans-serif;
	background-color:#eeeeee;
}

html, body {
	height:100%;
	width:100%;
	overflow:hidden;
}

h1 {
	font-family: 'Fredoka One', cursive;
	color:#22dd22;
	margin-bottom:0.5em;
}

hr {    
	border: revert;
    margin: 1em 0;
}

aside {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	width:30vw;
	overflow:hidden scroll;
	border-left:3px solid #222222;
	padding: 1vw;
}

aside h2 {
	margin-bottom: 0.5em;
}

aside ul {
	margin-left:2em;
	margin-bottom:1.5em;
}

li {
	margin:3px 0;
	text-decoration: underline;
}

li a:hover {
	color:#777777;
}

table{
	display:block;
	table-layout:fixed;
	width:100%;
}

table td {
	width:25%;
	padding:0.25em 0.5em;
}

td:nth-child(even){
	line-height:100%;
}

input {
	width:90%; 
	border: 2px solid #333333;
	border-radius:3px;
	text-align:right;
}

#mainWindow {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:70vw;
	height:100%;
	vertical-align:center;
	text-align:center;
	line-height:100%;
}

canvas {
	z-index:0;
	height:100%;
	width:100%;
}

#data {/*visibility:hidden;*/}

#anim {display:none;}


button {
	border:1px solid #333333;
	margin: auto;
	position:relative;
	left:0;
	right:0;
	height: 2.5em;
	width: 250px;
	text-decoration: underline;
	border-bottom:3px solid #999999;
}

button:hover {
	border:1px solid #666666;
	color:#666666;
	border-bottom:3px solid #999999;
}

button:active {
	border:1px solid #999999;
}