body, html {
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

nav {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width:300px;
  background-color:rgb(64,167,152);
  color:#FFFFFF;
  text-align:right;
  padding:25px;
  box-sizing:border-box;
}

nav h1 {
  font-size: 2.5em;
  margin: 1em;
}

nav ul {
  margin-top:0;
  padding:0;
}

nav li {
  list-style-type:none;
  height:45px;
  line-height:45px;
  font-weight:bold;  
  border-bottom: 1px solid #FFFFFF;
}

nav a {
    color: #FFFFFF;
    font-size:1.2em;
    font-weight:bold;
    text-decoration: none;
    display: block;
    margin: 3px 0;
}

nav footer {
  position:relative;
  bottom:0;
  font-size: 0.75em;
}

nav footer a {
  font-size:0.75em;
}

main {
  width:100%;
  padding:50px;
  padding-left: 350px;
  background-color: #F7F7F7;
  box-sizing:border-box;
  overflow-x:hidden;
}

main img {
  width:100%;
}

#splash h1 {
  color:rgb(71,98,104);
  font-size:5em;
  margin:1em;
  text-align:center;
}

#about { 
  background-color: rgb(71,98,104) ;
  color:#FFFFFF;
  height:225px;
  width:calc(100% + 100px);
  padding:15px 50px;
  position:relative;
  left:-50px;
  box-sizing:border-box;
}

#about p {
  width: calc(50vw - 150px);
  display: block;
}

#about img {
  position: absolute;
  right: 150px;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;  
  background-image: url(15675962_1319236084793733_5483806799840341705_o.jpg);   
  border-radius: 50%;
  border-bottom: 3px solid rgb(71,98,104);
  border-right: 3px solid rgb(71,98,104);    
}

#creations {
  text-align:center;
}
#creations p,h1 {
  text-align:left;
}

#creations figure {
  height: 27vmin;
  width: 48vmin;
  display:inline-block;
  border: 3px solid rgb(64,167,152);
  border-radius: 5px;
  background-size:cover;
  background-position:center;
}

#creations figure figcaption {
    color: #FFFFFF;
    font-size: 1.2em;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 27vmin;
    width: 48vmin;
    margin: auto;
    background-color: rgba(0,20,20,0.5);
    text-align: center;
    padding-top: 10vmin;
    box-sizing: border-box;
}
#creations summary::before {
  display:none;
}
#epq {background-image:  url("xDSC04861.jpg"), url("Screenshot 2017-11-20 at 16.57.45.png");}
#epq:hover {background-image:  url("DSC04862.jpg");}

#backchat {background-image:  url("Screenshot 2017-11-20 at 16.56.14.png"), url("Screenshot 2017-11-20 at 16.57.45.png");}
#backchat:hover {background-image:  url("Screenshot 2017-11-20 at 16.57.45.png");}

#hth {background-image: url("15578095_1653131864985947_5606259751347482130_o.jpg"); }

#cage {background-image: url("Screenshot 2017-11-23 at 13.20.13.png");}


