body, html {
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

nav {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width:300px;
  background-color:rgb(64,167,152);
  color:#FFFFFF;
  text-align:right;
  padding:25px;
  box-sizing:border-box;
}

main {
  width:100%;
  padding:25px;
  padding-left: 315px;
  box-sizing:border-box;
  overflow-x:hidden;
}

main img {
  width:100%;
}
