html,body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

body {
  font-family:Calibri;
}

nav {
  height:100%;
  width:20%;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  border-right:1px solid #333;
  box-sizing:border-box;
}

main {
  width:80%;
  position:fixed;
  right:0;
  top:0;
  box-sizing:border-box;
}

textarea {
  height:40px;
  width:calc(80% - 51px);
  position:fixed;
  left:20%;
  bottom:0;
  box-sizing:border-box;
  border-radius:3px;
}

button {
  height:40px;
  width:50px;
  position:fixed;
  right:0;
  bottom:0;
  background-color: #09f;
  border: none;
  border-bottom: 3px solid #08E;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  box-sizing:border-box;
  border-radius:3px;
}
div {
  position:relative;
  width:100%;
  min-height:120px;
}
div.to h1 {
  display:inline-block;
  height:80px;
  width:80px;
  color:white;
  background-color:#09f;
  float:left;
  border-radius:50%;
  text-align:center;
  line-height:80px;
  margin:20px;
}
div.to p {
  width: calc(90% - 100px);
  float:right;
  position:relative;
  background-color:#EEE;
  margin-right:100px;
  
}
div.to p:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 16px 16px 0;
border-color: transparent #999;
display: block;
width: 0;
z-index: 1;
left: -16px;
top: calc(50% - 8px);


}
