<!DOCTYPE html>
<html>
    <head>
        <title> YOUR SITE </title>
        <link rel="stylesheet" href="style.css" />
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav>
            YOUR SITE HERE
            <a href="#one">Link 3</a>
            <a href="#two">Link 2</a>
            <a href="#thr">Link 1</a>
        </nav>
        <div id="nav"></div>
        <section>
            <h1>Heading</h1>
            <h2>Sub Heading</h2>
            <h3>Heading 3</h3>
        </section>
        <section>
            <article id="thr">
                <div id="container">
                    <h1>Details</h1>
                    <p>Lorem Ipsum Dolor Sit Amet</p>
                    <img src="" />
                </div>
            </article>
            <h1 id="two">Heading</h1>
            <figure><figcaption>Box 1</figcaption></figure>
            <figure><figcaption>Box 2</figcaption></figure>
            <figure><figcaption>Box 3</figcaption></figure>        
        </section>
        <section id="one">
            <div id="socialContainer">
                Lorem Ipsum</br>
            </div>
            <div id="formContainer">
                <h1>Form</h1>
                <form action="http://formspree.io/soheliadeep@gmail.com" method="POST" enctype="multipart/form-data">
                    <label for="name">Your name:</label><br />
                    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
                    
                    <label for="_replyto">Your email:</label><br />
                    <input id="_replyto" class="input" name="email" type="text" value="" size="30" /><br />
                    
                    <label for="_subject">Subject:</label><br />
                    <input id="_subject" class="input" name="subject" type="text" value="" size="30" /><br />
                    
                    <label for="message">Your message:</label><br />
                    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
                    
                    <input id="submit_button" type="submit" value="Send email" />
                </form>
            </div>
        </section>
        <footer>
            Made with &lt;3 by <a href="//chillibyte.github.io">Deep Sohelia</a>. Photographs courtesy of <a href="http://unsplash.com">Unsplash</a> &copy; YOUR SITE HERE 2015
        </footer>
    </body>
    <script src="script.js"></script>
</html>
