html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: 'Gloria Hallelujah', cursive;
}
div {
    display:block;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
h1 {
    background-color: #f88;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    color:transparent;
    font-size:12vmin;
    -webkit-background-clip: text;
    
}
a,input {
    height:75px;
    width:40%;
    background-color: #f88;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    border-bottom:5px solid #f44;
    border-radius:15px;
    margin:5px auto;
    line-height:75px;
    font-weight:900;
    font-size:xx-large;
    color:white;
    display:inline-block;
    text-align:center;
}
a:active {
    border-bottom-width: 1px;
    position: relative;
    top: 4px;
    margin-bottom:16px;
}
