body {
    background-color:#aff;
    padding:0;
    margin:0;
}

canvas {
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    z-index:-1;
}

#stats {
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    width:400px;
    height:200px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    display:none;
}

#charSelect {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    height:40%;
    width:40%;
    background-color:rgba(0,0,0,0.5);
}

#charSelect input[type="radio"] + label{
    font-weight: bold;
} 
